.book_denticare_page {
    width: 100%;
}

.book_denticare_main {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 40px 0;
}

.book_denticare_img_container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book_denticare_img_item {
    width: 550px;
    height: 500px;
    border-radius: 55% 45% 29% 71% / 49% 52% 48% 51% ;
    border-radius: 64% 36% 40% 60% / 48% 43% 57% 52% ;
    background: #f3fbfd;
    overflow: hidden;
    padding: 20px 0 0 0;
}

.book_denticare_img_item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.book_denticare_form_containet {
    width: 50%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding-right: 10%;
    justify-content: center;
}

.book_denticare_form_title {
    display: flex;
    flex-direction: column;
}

.book_denticare_form_title h2 {
    font-size: 25px;
    font-weight: 500;
    color: #BD74A6;
}

.book_denticare_form_title h1 {
    font-size: 45px;
    color: #0E55AE;
}

.book_denticare_form_containet .book_denticare_form_p_text {
    width: 550px;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 500;
    margin: 20px 0;
}

.book_denticare_form_input_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #E0E0E0;
    padding-top: 25px;
}

.book_denticare_form_input_container .book_denticare_form_input_container_item {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
    justify-content: center;
}

.book_denticare_form_input_container_item .book_denticare_form_input_border {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}


.book_denticare_form_input_border input {
    width: 100%;
    height: 42px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px #181818;
    text-indent: 10px;
    font-size: 17px;
    transition: all .3s linear;
}

.book_denticare_form_input_border input:focus {
    box-shadow: 0 0 10px #bcbbbb;
    outline: inset 1px solid #afafaf;
    outline-color: #afafaf;
}

.book_denticare_form_input_border label {
    font-size: 15px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}


.book_denticare_form_input_border label sup {
    font-size: 25px;
    color: #BD74A6;
}


.m-top {
    margin-top: 10px;
}

.dropdown {
    position: relative;
    border-radius: 5px;
    transition: all .3s ;
    user-select: none;
}

.dropdown .dropdown_btn {
    width: 100%;
    height: 42px;
    padding: 0 10px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0 , 0, 0, 0.06);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    cursor: pointer;
    
}

.dropdown .dropdown_btn svg {
    color: #333;
    font-size: 17px;
}

.dropdown .dropdown_content {
    position: absolute;
    top: 110%;
    left: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0 , 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    width: 100%;
    z-index: 1;
}

.dropdown .dropdown_content .dropdown_item {
    padding: 10px;
    cursor: pointer;
    transition: all .3s ;
}

.dropdown .dropdown_content .dropdown_item:hover {
    background: #f4f4f4;
}

.book_denticare_form_input_container .book_denticare_form_containet_button {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.book_denticare_form_containet_button .book_denticare_form_containet_button_input {
    width: 200px;
    height: 100%;
    background: #0E55AE;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
}

@media (max-width:1340px) {
    .book_denticare_form_containet .book_denticare_form_p_text {
        width: auto;
    }
}

@media (max-width:1205px) {
    .book_denticare_main {
        height: auto;
        flex-direction: column;
    }
    .book_denticare_img_container {
        width: 100%;
    }
    .book_denticare_form_containet {
        width: 100%;
        padding: 20px 5%;
    }
}

@media (max-width:650px) {
    .book_denticare_img_container {
        padding: 20px 5%;
        height: 500px;
    }
    .book_denticare_img_item  {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

@media (max-width:550px) {
    .book_denticare_img_container {
        height: 350px;
    }
    .book_denticare_form_title h2 {
        font-size: 20px;
    }
    .book_denticare_form_title h1 {
        font-size: 37px;
    }
}

@media (max-width:600px) {
    .dropdown .dropdown_btn {
        height: 40px;
        font-size: 15px;
    }
}


@media (max-width:400px) {
    .dropdown .dropdown_btn {
        font-size: 14px;
    }
}
