.dropdown {
    width: 100%;
    position: relative;
    border-radius: 5px;
    transition: all .3s ;
    user-select: none;
}

.dropdown .dropdown_btn {
    border-radius: 5px;
    padding: 15px 20px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0 , 0, 0, 0.06);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333;
    cursor: pointer;
    
}

.dropdown .dropdown_btn svg {
    color: #333;
    font-size: 17px;
}

.dropdown .dropdown_content {
    position: absolute;
    top: 110%;
    left: 0;
    padding: 10px;
    background-color: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0 , 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    width: 100%;
    z-index: 1;
}

.dropdown .dropdown_content .dropdown_item {
    padding: 10px;
    cursor: pointer;
    transition: all .3s ;
}

.dropdown .dropdown_content .dropdown_item:hover {
    background: #f4f4f4;
}

@media (max-width:600px) {
    .dropdown .dropdown_btn {
        height: 40px;
        font-size: 15px;
    }
}

@media (max-width:400px) {
    .dropdown .dropdown_btn {
        font-size: 14px;
    }
}