.doctor_add_header{
    width: 100%;
    height: 80px;
    background-color: #276cc7af;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    color: #fff;
}

.doctor {
    width: calc(100% - 300px);
    height: 100vh;
    background-image: url(https://img.freepik.com/free-photo/close-up-portrait-beautiful-young-lady-sitting-dental-chair-while-stomatologist-hands-sterile-gloves-holding-tooth-samples_158595-7636.jpg?w=1060&t=st=1698920063~exp=1698920663~hmac=1a84efa2eeb3a7988e42e147d495c39c482edabe4f165de618fb0afd6cbf6022);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.doctoradd>form{
    width: 400px;
    height: 400px;
    background-color: #ffffffed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    margin: 100px 0  0 100px;
    border-radius: 15px;
}

.doctoradd>form>label{
    width: 100%;
    height: 30px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 3px;
    padding: 5px;
}

.doctoradd>form>label>input{
    background-color: transparent;
    width: 80%;
    height: 100%;
    font-size: 17px;
}

.doctoradd>form>button{
    background-color: dodgerblue;
    width: 100%;
    height: 30px;
    border-radius: 3px;
    padding: 3px;

}
