aside {
  width: 300px;
  min-height: 100vh;
  background-color: #444;
  color: #fff;
  position: relative;
  overflow: hidden;
}

aside .aside__Logo {
  color: rgb(173, 171, 171);
  height: 80px;
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #0e54ae;
  padding: 20px;
}

aside .aside__Logo h3 span {
  color: #fff;
}

aside .aside__Logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* aside links */

aside .aside__links {
  display: flex;
  flex-direction: column;
}

aside .aside__links a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #fff;
  height: 35px;
  border-bottom: 1px solid #615f5f;
  transition: 0.3s;
  position: relative;
}

aside .aside__links a::before {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 4px 4px 0;
  background-color: dodgerblue;
  content: "";
  transition: 0.3s;
}

aside .aside__links a:hover {
  background-color: #0e5fc949;
}

aside .aside__links a:hover::before {
  width: 5px;
}

aside .aside__links a div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.aside__LogOut {
  width: 100%;
  height: 40px;
  background-color: crimson;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
}
