.LocationCard{
    width: 100%;
    height: 45vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.LocationCard_items:nth-child(1){
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.LocationCard_items:nth-child(2){
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;

}

.LocationCard_items:nth-child(3){
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;

}

.LocationCard_items:nth-child(4){
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;

}


.LocationCard_items>h2{
    font-size: 23px;
    font-weight: normal;
}

.LocationCard_items>svg{
    font-size: 55px;
    font-weight: normal;
    color: darkblue;
}
.LocationCard_items>p{
    color: #666;
}