@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

button,
input {
  border: none;
  outline: none;
  background: none;
}

button,
svg {
  cursor: pointer;
}

.Navbar {
  width: 100%;
  position: sticky;
  top: -41px;
  background-color: #fff;
  box-shadow: #959da545 0px 8px 24px;
  z-index: 999;
}

/* ========== NAVBAR TOP ========= */

.navbar__top {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333333;
  padding: 0 3%;
}

.navbar__top__left {
  display: flex;
  gap: 15px;
  align-items: center;
  
}

.bar__icon {
  font-size: 30px;
  display: none;
}

.navbar__logo {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 40px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: #0e54ae;
  height: 55px;
  font-size: 35px;
}

.navbar__logo img {
  width: 100%;
  height: 100%;
}

.navbar__top__right {
  display: flex;
  gap: 45px;
}

.working__days,
.navbar__call {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #fff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.working__days svg,
.navbar__call svg {
  font-size: 22px;
  color: #fff;
}

.working__days span {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.working__days span small,
.navbar__call span {
  font-size: 14px;
  font-weight: normal;
}

/* ======== NAVBAR BOTTOM ========== */

.navbar__bottom {
  width: 100%;
  height: 61px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3%;
}

.nav__links {
  display: flex;
  height: 100%;
}
.nav__user,
.nav__links a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  font-size: 16px;
  padding: 0 25px;
  text-transform: uppercase;
  position: relative;
  transition: all 0.1s;
  font-family: "Roboto", sans-serif;
}

.nav__links a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 50%;
  height: 3px;
  background: #b15092;
  transform: scaleX(0);
  transition: all 0.3s;
}
.nav__links a:hover::before {
  transform: scaleX(1);
}
.nav__user {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.nav__user svg {
  font-size: 22px;
}

.nav__user:hover.nav__user > svg {
  color: #b15092;
}

.nav__user:hover,
.nav__links a:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 8px;
}

.nav__bottom__right {
  height: 100%;
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar__networks {
  display: flex;
  align-items: center;
  height: 100%;
  color: #fff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.navbar__networks a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  color: #fff;
  padding: 0 7px;
  font-size: 22px;
  font-weight: bold;
  width: 60px;
}
.navbar__networks a:hover {
  box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 8px;
}

.navbar__networks a:first-of-type {
  margin-left: 18px;
}

.navbar__call:hover .call__icon,
.navbar__networks a:hover {
  color: #b15092;
  transition: all 0.3s ease-out;
}

@media (max-width: 1000px) {
  .bar__icon {
    display: block;
  }

  .navbar__top,
  .nav__links, .nav__user {
    display: none;
  }

  .navbar__top__left {
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media (max-width:760px) {
    .navbar__logo {
    width: 30px;
    height: 50px;
    font-size: 30px;
  }
}