@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;800;900&display=swap);

.Patient {
  width: 77%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: #fff;
  padding: 80px 0;
  overflow: auto;
}

.Patient h1 {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 15px;
  color: rgb(9, 84, 159);
  font-family: "Lato", sans-serif;
}

/* Patient header */

.patient__header {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.patient__searchbar {
  height: 50px;
  width: 100%;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    to right,
    rgba(244, 246, 250, 0.469) 92%,
    dodgerblue 5%
  );
  border: 3px solid inherit;
  overflow: hidden;
  box-shadow: 1px 2px 3px rgb(182, 180, 180);
  margin-bottom: 20px;
}

.patient__select {
  height: 50px;
  width: 150px;
  padding: 0 10px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  border: none;
  outline: none;
  color: #fff;
  font-weight: bold;
  background: dodgerblue;
}

.patient__searchbar input {
  font-size: 18px;
  color: #333;
  width: 100%;
  text-indent: 15px;
}

.patient__searchbar svg {
  font-size: 28px;
  color: #fff;
}

/* TABLE */
.Patient table {
  width: 80%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.Patient thead tr {
  background-color: dodgerblue;
}

.Patient thead th {
  color: #ffffff;
}

.Patient th,
.Patient td {
  text-align: left;
  padding: 12px 15px;
  font-family: "Lato", sans-serif;
}

tr:nth-child(even) {
  background-color: #f3f3f3;
}

tr:hover {
  background-color: #ddd;
}
.Patient table tbody tr:last-of-type {
  border-bottom: 2px solid dodgerblue;
}

.Patient table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.Patient table tbody td {
  font-weight: bold;
}

.number__patient {
  font-weight: bold;
  color: dodgerblue;
}

.delete__patient .trashban:hover {
  fill: red;
  transform: scale(1.1);
  cursor: pointer;
}

.empty__patient {
  width: 100%;
  height: 70%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.empty__patient svg {
  width: 60px;
  height: 60px;
  margin-bottom: 40px;
}

.empty__patient h2,
.empty__patient svg {
  color: #333;
}
