.services_three_page {
  width: 100%;
  padding: 50px 3%;
  background: #f0fcff;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.services_three_page_title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services_three_page_title h2 {
  color: #0e55ae;
  font-size: 30px;
}

.services_three_page_tooth_container {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  margin-top: 20px;
}

.services_three_page_tooth_card {
  width: 290px;
  overflow: hidden;
  border-radius: 10px;
  background: #def8ff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
  box-shadow: 0 0 3px #7f7f7f;
}

.services_three_page_tooth_card_img {
  width: 100%;
  height: 180px;
  padding: 0 10px;
}

.services_three_page_tooth_card_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  backdrop-filter: blur(7px);
}

.services_three_page_tooth_card_data {
  width: 100%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services_three_page_tooth_card_data h2 {
  color: #0e55ae;
  font-size: 25px;
}

.services_three_page_tooth_card_data button {
  padding: 8px 13px;
  background: #0a0a0a;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 10px;
}

.services_three_page_tooth_card_data button:hover {
  background: #282828;
}

.services_three_page_tooth_card_icons {
  width: 100%;
  display: flex;
  gap: 15px;
}

.services_three_page_tooth_card_icons a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #cdf0f9;
  margin-top: 50px;
}

.services_three_page_tooth_card_icons a img {
  width: 25px;
}
