.number {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 100px 7% 0 7%;
    flex-direction: column;
    overflow-y: hidden;
}
.radius{
    height: 400px;
    position: relative;
    padding: 2px;
    margin-bottom: 40px;
  
}
.radius img{
    width: 25%;
}
.img1{
    position: absolute;

}
.circle{
    width: 170px;
    height: 170px;
}
.resultpercentage{
    position: absolute;
    bottom: 20px;
    left: 45%;
}

.number>div {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.number>hr {
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.742);
}

.number>div h2 {
    font-size: 40px;
    color: #BC74A5;
}

.number>div h1 {
    font-size: 80px;
    color: #0E54AE;
}

.number>div p {
    padding: 1%;
    text-align: left;
    margin-top: 15px;
    color: grey;
    font-size: 13px;
}

.number_item {
    /* background-color: #0E54AE; */
    width: 100%;
    height: 276px;
    overflow: hidden;
    display: flex;
}

.number_item>div {
    display: flex;
    width: 100%;
    border-radius: 50%;
    justify-content: space-between;
}

.number_item>div>div {
    margin-top: 25px;
    width: 280px;
    height: 276px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}





.number_bottom {
    width: 100%;
    
}

.number_bottom>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.number_bottom>div>div {
    width: 400px;
    text-align: left;
    height: 100%;
    line-height: 1.7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.number_bottom>div>div:first-child {
    font-size: 25px;
    height: 100%;
}

.number_bottom>div>div:first-child>p>b {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.number_bottom>div>div:first-child>p {
    width: 80%;
    text-align: center;
}

.number_bottom>div>div:first-child>hr {
    width: 50%;
    border: 2px solid #BC74A5;
    margin: 0 auto;
}